:root {
  --dark-title: #38373a;
  --light-tilte: #6d5c62;
  --header-bg: #cbd5e1;
  --white: #ffffff;
  --light-grey: #a1adb9;
  --grey-300: #cbd5e1;
  --background-color: #f8fafc;
  --col-1-border-right: #bcb5aa;
  --heading-font: 'Proza Libre', sans-serif;
  --body-font: 'Noto Sans TC', sans-serif;
  --border-radius: 0.625rem;
  --transtion: 0.3s ease-in-out all;
  /* Box shadow */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

p {
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-top: 1.38rem;
  margin-bottom: 1rem;
  font-family: var(--heading-font);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

h3 {
  margin-top: 30px;
  padding-bottom: 10px;
  font-weight: 500;
  color: var(--dark-title);
}

strong {
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  opacity: 0.75;
}

a:hover {
  opacity: 1;
  cursor: pointer;
  transition: var(--transtion);
}

button::-moz-focus-inner {
  border: 0;
}

button {
  border: none;
  outline: none;
}

button:active,
button:focus {
  outline: none;
}

.btn {
  display: inline-block;
  margin: 15px;
  padding: 15px 20px;
  font-family: var(--heading-font);
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--white);
  background-color: var(--light-grey);
  border: transparent;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-1);
  transition: var(--transtion);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--light-tilte);
  box-shadow: var(--shadow-3);
}

ul {
  list-style-type: none;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body {
  font-weight: 400;
  line-height: 1.75;
  font-family: var(--body-font);
  background: var(--background-color);
}

.wrapper {
  margin: 0 auto;
  max-width: 1024px;
  padding-right: 10px;
  padding-left: 10px;
}

/* Header */

.header {
  min-height: 260px;
  margin-top: 50px;
  align-items: center;
  background-color: var(--header-bg);
}

.header__row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  display: flex;
  align-items: center;
}

.photo__image {
  max-width: 200px;
  margin: 30px 10px 30px 50px;
  border: 1px solid var(--light-grey);
  border-radius: 50%;
}

.photo__title {
  padding: 10px;
}

.photo__name {
  font-weight: 700;
  word-spacing: 10px;
  letter-spacing: 2px;
  color: var(--dark-title);
}

.photo__profession {
  font-weight: 700;
  word-spacing: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--light-tilte);
}

/* Main */

.main__wrapper {
  background-color: var(--white);
}

.about-me {
  margin: 0 auto;
  max-width: 600px;
}

.about-me__title {
  margin-top: 0;
  padding-top: 2rem;
  text-align: center;
}

.about-me__text {
  text-indent: 40px;
  padding: 0 20px 20px 20px;
}

.info {
  width: 100%;
  display: flex;
  margin: 30px 0 0 0;
  padding-bottom: 50px;
}

.info__col-1_left {
  width: 45%;
  padding: 0 40px 10px 40px;
  border-right: 3px solid var(--col-1-border-right);
}

.info__col-2_right {
  padding: 0 40px 10px 40px;
}

/* Contact */

.contact__title {
  margin-top: 0;
}

.contact__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contact__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 3;
}

.contact__image {
  margin-right: 20px;
  display: inline-block;
  width: 22px;
}

/* Skills */

.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skills__item {
  display: inline-block;
  margin: 5px 0 5px 5px;
  padding: 5px 15px;
  background-color: var(--grey-300);
  border-radius: 5px;
}

/* Language */

.language__level {
  text-indent: 40px;
}

/* Code */

.code__title {
  margin-top: 0;
}

.code__text {
  padding: 5px 20px;
}

.code__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.light-title {
  background-color: var(--light-tilte);
  cursor: auto;
}

/* links-to-achievements */

.links-to-achievements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.links-to-achievements__item {
  margin: 0 10px;
}

/* Effect */

.effect a {
  color: #6d5c62;
  text-shadow: 1px 0 #4d575d;
}

.effect a,
.effect a > span {
  position: relative;
  text-decoration: none;
  line-height: 24px;
}

.effect a:before,
.effect a:after,
.effect a > span:before,
.effect a > span:after {
  content: '';
  position: absolute;
  transition: transform 0.5s ease;
}

.effect-5 {
  display: inline-block;
  overflow: hidden;
}

.effect-5:before,
.effect-5:after {
  right: 0;
  bottom: 0;
  background: #4d575d;
}

.effect-5:before {
  width: 100%;
  height: 2px;
  transform: translateX(-100%);
}

.effect-5:after {
  width: 2px;
  height: 100%;
  transform: translateY(100%);
}

.effect-5 > span {
  display: block;
  padding: 10px;
}

.effect-5 > span:before,
.effect-5 > span:after {
  left: 0;
  top: 0;
  background: #b2bbc0;
}

.effect-5 > span:before {
  width: 100%;
  height: 2px;
  transform: translateX(100%);
}

.effect-5 > span:after {
  width: 2px;
  height: 100%;
  transform: translateY(-100%);
}

.effect-5:hover:before,
.effect-5:hover:after,
.effect-5:hover > span:before,
.effect-5:hover > span:after {
  transform: translate(0, 0);
}

/* Footer */

.footer {
  background: url(./assets/images/bg.png);
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 100px;
}

.footer__item {
  margin: 15px 25px;
}

.footer__image_rs-school-logo {
  width: 100px;
}

@media screen and (max-width: 750px) {
  .info {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .info__col-1_left {
    width: 100%;
    border-right: none;
  }

  .info__col-2_right {
    margin-top: 50px;
    padding: 0;
  }

  .photo__name,
  .photo__profession,
  h3,
  h4 {
    text-align: center;
  }

  .language__level {
    text-align: center;
    text-indent: 0;
  }
}

@media screen and (max-width: 540px) {
  .code {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0000);
  }

  .header {
    flex-wrap: wrap;
    justify-content: center;
  }

  .photo {
    flex-direction: column;
  }

  .photo__image {
    margin: 30px 0 0 0;
  }

  .photo__name {
    font-size: 2.25rem;
  }

  .photo__profession {
    font-size: 1.875rem;
  }

  .links-to-achievements {
    flex-direction: column;
  }
}

@media screen and (max-width: 300px) {
  .info__col-1_left {
    padding: 0.625rem 1.25rem;
  }
}
