html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --grey-200: #e2e8f0;
  --grey-400: #94a3b8;
  --white: #ffffff;
}

.box {
  border: 2px solid var(--grey-400);
  max-width: 600px;
  width: 100%;
  margin: auto;
  margin-top: 20px;
}

.tabs {
  display: flex;
  justify-content: space-between;
}

.tabs-title {
  text-align: center;
  color: var(--dark-title);
}

.tabs-img {
  margin-top: 10px;
  width: 100%;
  height: auto;
}

.tab {
  background: var(--grey-200);
  flex: 1;
  padding: 10px;
  text-align: center;
  /* border: 1px solid var(--grey-400); */
  border-bottom: 1px solid var(--grey-400);
  border-top: none;
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
}

.tab-1 {
  border-right: 1px solid var(--grey-400);
}

.tab-2 {
  border-right: 1px solid var(--grey-400);
  border-left: 1px solid var(--grey-400);
}

.tab-3 {
  border-left: 1px solid var(--grey-400);
}

.active-tab {
  border: none;
  background: var(--white);
}

.active-tab::after {
  border-top: 2px solid var(--grey-400);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: initial;
  animation: new 0.5s;
}

@keyframes new {
  from {
    top: 50px;
    left: 0;
    right: 0;
    background: var(--grey-400);
  }

  to {
    top: 0;
    left: 0;
    right: 0;
    border-top: 2px solid var(--grey-400);
  }
}

.contents {
  position: relative;
}

.content {
  display: none;
  position: relative;
}

.active-content {
  display: block;
  margin: 20px;
  transition: all 1s ease-in-out;
  animation: example 0.3s;
}

@keyframes example {
  from {
    margin: 0;
  }

  to {
    margin-left: 20px;
  }
}
